<div class="col-xs-12 col-md-10 col-md-offset-2">
  <div>
    <h2 class="show-header">Showing <%= "#{@exercise.user.full_name}'s workout details" %></h2>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      Duration (min):
    </div>
    <div class="col-xs-8 text-right">
      <%= @exercise.duration_in_minutes %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      Workout Details:
    </div>
    <div class="col-xs-8 text-right">
      <%= @exercise.workout %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      Activity Date:
    </div>
    <div class="col-xs-8 text-right">
      <%= @exercise.workout_date %>
    </div>
  </div>
  <br>
  <br>

  <div class="col-xs-12 col-md-10 member">
    <%= link_to "Back", user_exercises_path(current_user), class: "btn btn-default link", id: "back-btn" %>
  </div>

</div>
